main {
   .banner {
      margin-bottom: 3rem ;
      & .container {
         text-align: center;

         &>a {
            display: inline-block;
         }
      }
   }
}

@media (min-width:992px) {
   main {
      .banner {
         & .container {
            &>a {
               max-width: 992px;
               height: auto;
            }
         }
      }
   }
}