@mixin text-fm($fs, $lh, $ls: normal) {
   font-size:$fs;
   line-height: $lh;
   letter-spacing: $ls;
}

@mixin textRestriction($font-size, $line-height, $row, $fixed:false){
   font-size: #{$font-size}rem !important;
   line-height: #{$line-height}rem !important;
   overflow: hidden;
   @if($fixed){
       height: #{$row * $line-height}rem;
       max-height: none;
   }@else{
       max-height: #{$row * $line-height}rem;
       height: auto;
   }    
}