$body-font: 'Crimson Text';
$paragraph-font: 'Lato';

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: $body-font;
    font-weight: 600;
    position: relative;
}

p {
    font-family: $paragraph-font;
}

body,
html {
    overflow-x: hidden;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    display: block;
}

main {
    margin-top: 60px;
    position: relative;
    z-index: 1;
}

.btn {
    font-family: $paragraph-font;
    font-weight: bold;
    padding: 1.3rem 1.9rem;
    text-transform: uppercase;
    display: inline-block;
    transition: 0.3s ease;
}

.btn-primary {
    color: $blank;
    background-color: $search-btn;

    &:hover {
        background-color: darken($search-btn, 10%);
    }
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

///////////////////////
//image classes
/////////////////////
.news-item-image {
    position: relative;
    background: rgba(#eee, 0.5);
    overflow: hidden;
    display: block;
    width:100%;
    flex: 0 0 100%;

    //ovo je namesteno da bude default 16:9
    &:before {
        content: '';
        display: block;
        // padding-top: 56.25%;
        padding-top: 75%;

    }

    &.size-4-3:before {
        padding-top: 75%;

    }

    &.size-3-4:before {
        padding-top: 133.33%;

    }

    &.size-3-2:before {
        padding-top: 67.68%;

    }

    &.size-1-1:before {
        padding-top: 100%;

    }
    img {
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        max-width: none;
        display: block;
        transition: 0.6s linear;
     }
}

@media (min-width:450px) {
    .container {
        max-width: 430px;
        margin: 0 auto;
    }
}

@media (min-width:576px) {
    .container {
        max-width: 550px;
        margin: 0 auto;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 740px;
        margin: 0 auto;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 970px;
        margin: 0 auto;
    }

    main {
        margin-top: 0;
    }
}

@media (min-width:1265px) {
    .container {
        max-width: 1260px;
        margin: 0 auto;
    }
}