html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Crimson Text';
    font-weight: 600;
    height: 200vh;
    position: relative;
}

p {
    font-family: 'Lato';
}

body,
html {
    overflow-x: hidden;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    display: block;
}

main {
    margin-top: 60px;
}

.btn {
    font-family: 'Lato';
    font-weight: bold;
    padding:1.3rem 1.9rem;
    text-transform: uppercase;
    display:inline-block;
    transition: 0.3s ease;
}

.btn-primary {
    color:$blank;
    background-color: $btn-primary;
    &:hover {
        background-color: darken($btn-primary, 10%);
    }
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

@media (min-width:450px) {
    .container {
        max-width: 430px;
        margin: 0 auto;
    }
}

@media (min-width:576px) {
    .container {
        max-width: 550px;
        margin: 0 auto;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 740px;
        margin: 0 auto;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 970px;
        margin: 0 auto;
    }

    main {
        margin-top: 0;
    }
}

@media (min-width:1300px) {
    .container {
        max-width: 1280px;
        margin: 0 auto;
    }
}