$header-nav-item: 'Lato';
$search-iput: 'Roboto';

.header {
   background-color: $blank;
   position: fixed;
   width: 100%;
   z-index: 10;
   min-height: 67px;
   // .container {
   //    display: flex;
   //    flex-flow:column nowrap;
   //    align-items: center;
   // }

   .top-header {
      padding: 2rem 1rem;
      // display: none;
   }

   .bottom-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.1rem 1rem;
      background-color: $blank;
      // position: relative;  
      // overflow: visible;
   }

   .ham-menu {
      cursor: pointer;

      &>div {
         width: 25px;
         height: 3px;
         background-color: $void;
         margin-bottom: 6px;
         transition: 0.3s ease;

         &:last-of-type {
            margin-bottom: 0;
         }
      }

      &:hover {
         &>div:first-of-type {
            transform: translateY(3px);
         }

         &>div:last-of-type {
            transform: translateY(-3px);
         }
      }
   }

   .header-nav {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: $blank;
      z-index: 10;

      display: none;
      flex-flow: column nowrap;
      justify-content: space-between;

      .header-nav-close {
         position: absolute;
         right: 0;
         top: 0;

         a {
            padding: 1rem;
            font-size: 3.5rem;
            color: $void;
         }
      }

      .active {
         a {
            color: $search-btn;
         }
      }

      // .arrow-down::after {
      //    content: '\f078';
      //    font-family: "Font Awesome 5 Free";
      //    font-weight: 900;
      //    transition: 0.3s ease;
      //    display: block;
      //    position: absolute;
      //    top: 50%;
      //    transform: translateY(-50%);
      //    right: 1rem;
      //    font-size: 2rem;
      // }

      .toggle-submenu {
         transition: 0.3s ease;
      }

      .arrow-down-up {
         transform: rotateZ(180deg);
      }

      // .arrow-down-down::after {
      //    transform: translateY(-50%) rotateZ(0deg);
      // }

      ul {
         overflow-y: auto;
         transition: 0.3s ease;

         li {
            font-family: $header-nav-item;
            font-weight: bold;
            @include text-fm(3.2rem, 3.8rem, 0.1px);
            text-transform: uppercase;

            a {
               transition: 0.3s ease;
               color: $void;
               padding: 1rem;
               position: relative;

            }

            &:hover {
               &>a {
                  color: $search-btn;
               }

               // &>ul {
               //    height: 58px;
               // }
            }
         }
      }

      .top-menu {
         margin-top: 55px;
      }

      .sub-menu {
         // height: 0;
         // min-height: 0;
         overflow-y: hidden;

         li {
            @include text-fm(2.9rem, 3.8rem, 0.1px);

            a {
               padding-left: 2rem;  
            }
         }

         .sub-menu {
            li {
               @include text-fm(2.6rem, 3.8rem, 0.1px);

               a {
                  padding-left: 3rem;
               }
            }

         }

      }


      .header-nav-social {
         ul {
            display: flex;
            align-items: center;
            justify-content: center;
         }
      }
   }

   .bottom-logo {
      width: 150px;
      height: auto;
   }

   .social-nav {
      display: none;
   }

   .header-search {
      min-height: 100%;
      // position: relative;

      .header-search-icon {
         text-align: center;
         font-size: 2.3rem;
         min-width: 23px;
         color: $void;
      }

      .header-search-icon-close::before {
         content: '\f00d';
      }

      .header-search-input {
         position: absolute;
         // top: calc(100% + 1.1rem);
         top: 100%;
         left: 0;
         width: 100%;
         display: flex;
         padding: 0 1rem;
         background-color: $blank;
         height: 0;
         transition: 0.3s ease;
         overflow: hidden;

         input {
            flex: 1;
            padding: 7px 1.4rem;
            font-family: $search-iput;
            border: 1px solid $gray-one;
            border-right: none;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            min-width: 0;

            &:focus {
               outline: none;
            }
         }

         button {
            border: none;
            background-color: $search-btn;
            color: $blank;
            padding: 1rem 2rem;
            font-size: 1.7rem;
            cursor: pointer;

            &:hover {
               background-color: darken($search-btn, 10%);
            }
         }
      }
   }
}

@media (min-width:992px) {
   .header {
      position: relative;

      .top-header {
         display: block;

         a {
            margin: 0 auto;
            max-width: 347px;
            height: auto;
         }
      }

      .ham-menu {
         display: none;
      }

      .bottom-logo {
         display: none;
      }

      .header-nav {
         position: relative;
         display: block !important;
         position: relative;
         width: auto;
         height: auto;

         .header-nav-close {
            display: none;
         }

         .active {
            a {
               color: $void;

               &::after {
                  transform: translateX(-50%) scaleX(1);
               }
            }
         }

         & ul {
            overflow-y: visible;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            
            li {
               @include text-fm(1.4rem, 2.5rem, 0.1px);
               position: relative;

               a {
                  position: relative;
                  display: block;

                  &::after {
                     content: '';
                     width: 100%;
                     display: block;
                     position: absolute;
                     top: 100%;
                     left: 50%;
                     background-color: $search-btn;
                     height: 4px;
                     width: 25px;
                     transition: 0.3s ease;
                     transform-origin: center;
                     transform: translateX(-50%) scaleX(0);
                  }

                  &:hover {
                     &::after {
                        transform: translateX(-50%) scaleX(1);
                     }
                  }

                  &:hover {
                     color: $void;
                  }
               }

               &:hover {
                  .sub-menu {
                     opacity: 1;
                     visibility: visible;
                     top: 100%;
                     li {
                        width:100%;
                     }
                  }
               }
            }

            // &:hover {
            //    ul {
            //       height:45px;
            //    }
            // }

            .sub-menu {
               li:hover {
                  .sub-menu {
                     opacity: 1;
                     visibility: visible;
                     top: 0%;
                  }
               }
            }

         }

         .sub-menu {
            border:none;
            top: 100%;
            left: 0;
            min-width: 110%;
            position: absolute;
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
            
            // height:45px;
            li {
               @include text-fm(1.4rem, 2.5rem, 0.1px);
               
               a {
                  padding: 1rem !important;
                  background-color: $blank;
                  border:1px solid $search-border;
               }

               &:hover {
                  ul {
                     height: 45px;
                  }
               }
            }

            .sub-menu {
               top: 10%;
               left: 100%;
               a {
                  border:1px solid $search-border; 
               }
            }

         }

         // .sub-menu-two {
         //    position: absolute;
         //    overflow: hidden;
         //    // height:45px;
         //    li {
         //       @include text-fm(1.4rem, 2.5rem, 0.1px);
         //       a {
         //          padding:1rem !important;
         //          background-color: $blank;
         //       }
         //    }
         // }

         .top-menu {
            margin-top: 0;
         }

         .header-nav-social {
            display: none;
         }
      }

      .header-search-social {
         display: flex;
         align-items: center;
      }

      .header-search {
         position: relative;

         .header-search-icon {
            padding-right: 1.1rem;
            margin-right: 1.1rem;
            border-right: 1px solid $search-border;
         }

         .header-search-input {
            right: 1rem;
            left: auto;
            width: 300px;
         }
      }

      .social-nav {
         display: block;

         ul {
            display: flex;
            align-items: center;
            justify-content: space-between;

            li {
               text-align: center;

               &:last-of-type a {
                  margin-right: 0;
               }
            }

            a {
               display: inline-block;
               line-height: 28px;
               width: 28px;
               height: 28px;
               border-radius: 50%;
               background-color: $search-btn;
               color: $blank;
               margin-right: 6px;
               transition: 0.3s ease;

               &:hover {
                  background-color: $blank;
                  color: $search-btn;
               }
            }
         }
      }
   }
}