   $title-font: 'Crimson Text';
   $meta-font: 'Roboto';
   $description-font: 'Lato';

   .hero {

      margin-bottom: 2.6rem;
   }

   .news-item {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      text-align: center;
   }

   .news-item-image {
      // margin-bottom: 2.7rem;
   }

   .news-item-data {
      padding: 0.5rem 1rem;

      .news-item-title {
         font-family: $title-font;
         font-weight: bold;
         @include text-fm(3rem, 3.6rem, 0.38px);
         margin-bottom: 0.5rem;
         overflow: hidden;
         max-height: calc(3 * 3.6rem);

         a {
            color: $void;
            transition: 0.3s ease;
         }
      }

      .news-item-meta {
         display: flex;
         justify-content: center;

         font-family: $meta-font;
         font-weight: 500;
         @include text-fm(1.4rem, 1.6rem, 0.35px);
         margin-bottom: 0.5rem;
         // margin-bottom: 0;

         span,
         a {
            color: $meta-data-color;
         }

         span:first-of-type {
            margin-right: 1.6rem;
         }
      }

      .news-item-description {
         font-family: $description-font;
         @include text-fm(1.9rem, 2.6rem);
         margin-bottom: 2rem;
         overflow: hidden;
         max-height: calc(3 * 2.6rem);
         color: $item-description;

      }
   }

   .owl-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 3rem;
   }

   .owl-carousel .owl-nav button.owl-next,
   .owl-carousel .owl-nav button.owl-prev,
   .owl-carousel button.owl-dot {
      border: 1px solid $carousel-dots;
      border-radius: 50%;
      width: 1rem;
      height: 1rem;
      margin-right: 1rem;

      &:last-of-type {
         margin-right: 0;
      }

      &:focus {
         outline: none;
      }
   }

   .owl-carousel button.owl-dot.active {
      background-color: $search-btn;
      border: 1px solid $search-btn;
   }


   @media (min-width:768px) {

      .news-item-image {
         margin-bottom: 2.7rem;
      }

      .hero {


         .news-item {
            flex-flow: row nowrap;
            text-align: left;
         }

         .news-item-image {
            margin-bottom: 0;
            order: 1;
            flex: 0 0 60%;
            width: 60%
         }

         .news-item-data {
            flex: 0 0 40%;
            width: 40%;

            .news-item-title {
               @include text-fm(4.2rem, 4.7rem, 0.53px);
               max-height: calc(3 * 4.7rem);
            }

            .news-item-description {
               @include text-fm(1.9rem, 2.6rem, normal);
            }

            .news-item-meta {
               justify-content: flex-start;
               margin-bottom: 1.3rem;
            }
         }
      }
   }


   @media (min-width:992px) {

      .news-item-data {
         .news-item-title {
            max-height: calc(4 * 4.7rem);
         }
      }
   }