.one-two {
   .container {
      &>.row {
         .sidebar {
            display: none;
         }
      }
   }
   .other-news {
      .news-item {
         .news-item-data {
            flex:0 0 60%;
            width:60%;
         }
      }
   }
}

@media (min-width:992px) {
   .one-two {
      .container {
         &>.row {
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-start;
            justify-content: space-between;

            .sidebar {
               padding:1rem;
               min-width: calc(300px + 2 * 1rem);
               display: block;
            }
         }
      }
      .main-content {
         .row {
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-start;
            justify-content: space-between;
         }
      }
      .lead-news {
         flex:0 0 66.66%;
         width:66.66%;
         margin-right:2rem;
         .news-item {
            .news-item-data {
               align-items: flex-start;
               .news-item-title {
                  @include textRestriction(2.8, 3.9, 1);
               }
            }
         }
      }
      .other-news {
         flex-flow:column nowrap;
         flex:1;
         width:auto;
         .news-item {
            flex:0 0 100%;
            width:100%;

            .news-item-data {
               flex:0 0 100%;
               width:100%;
               .news-item-title {
                  @include text-fm(2rem, 2.8rem); 
                  @include textRestriction(2, 2.8, 2);
               }
               .news-item-description {
                  display:none;
               }
            }
            &:nth-of-type(1n+3) {
               display: none;
            }
         }
      }
   }
}