$news-title: 'Crimson Text';

.category-box {
   .row {
      padding: 1rem;
   }

   .lead-news,
   .other-news {
      .news-item {
         &:hover {
            .news-item-data {
               .news-item-title {
                  a {
                     color:$search-btn;
                  }
               }
            }
         }
      }
   }

   .lead-news {
      margin-bottom: 3rem;

      .news-item {

         .news-item-title {
            @include text-fm(2.3rem, 2.8rem);
            @include textRestriction(2.3, 2.8, 2);
         }

         .news-item-description {
            display: none;
         }

         .read-more {
            display: none;
         }
      }
   }

   .other-news {
      .news-item {
         flex-flow: row nowrap;
         text-align: left;
         align-items: center;
         justify-content: space-between;
         margin-bottom: 1rem;

         .news-item-image {
            flex: 0 0 40%;
            width: 40%;
         }

         .news-item-image {
            margin-bottom: 0;
         }

         .news-item-data {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: center;
         }

         .news-item-title {
            @include text-fm(1.7rem, 1.9rem);
            @include textRestriction(1.7, 1.9, 3);
            font-family: $news-title;
            font-weight: 600;
         }

         .news-item-description {
            display: none;
         }

         .news-item-meta {
            @include text-fm(1rem, 1.36rem, 0.23px);

         }

         a.read-more {
            display: none;
         }

      }

   }
}

@media (min-width:992px) {
   .category-box {
      .lead-news {
         flex: 0 0 49%;
         width: 49%;
         .news-item {
            text-align: left;

            .news-item-image {
               margin-bottom: 0;
            }

            .news-item-title {
               @include text-fm(2.8rem, 3.9rem);
               @include textRestriction(2.8 , 3.9, 1);
            }

            .news-item-data {
               padding:1.5rem 0;
            }

            .news-item-description {
               display: block;
            }

            .news-item-meta {
               justify-content: flex-start;
            }

         }
      }

      .other-news {
         flex: 0 0 49%;
         width: 49%;
         display: flex;
         flex-flow: row wrap;
         justify-content: space-between;
         align-items: flex-start;

         &>* {
            flex: 0 0 48.5%;
            width: 48.5%;
         }
         
         .news-item {
            flex-flow: column nowrap;

            .news-item-image {
               width:100%;
               flex: 0 0 100%;
            }

            .news-item-title {
               @include text-fm(2rem, 2.8rem);
               @include textRestriction(2, 2.8, 2);
            }

            .news-item-data {
               text-align: center;
               align-items: center;
               justify-content: space-between;
            }

            .news-item-meta {
               @include text-fm(1.2rem, 1.7rem, 0.28px);
            }
         }
      }
   }
}