$black:#000;
$white:#fff;
$gray-one: #ccc;
// $red: #D30808;
$light-gray: #E6E6E6;
$dark-gray: #868686;
$red: #BD252C;
$gray-two:#D9D9D9;
$light-gray-two: #F4F4F4;
$dark-gray-two : #494949;

$void: $black;
$blank: $white;
$search-btn: $red;
$search-border:$gray-one;
$search-border:$light-gray;
$meta-data-color: $dark-gray;
// $btn-primary: $dark-red;
$carousel-dots: $gray-two;
$printed-bg: $light-gray-two;
$item-description: $dark-gray-two;